@mixin mq ($break) {
  @media (min-width: $break) {
    @content;
  }
}

@mixin types($map) {
  @each $type, $color in $map {
    .#{$type} {
      background-color: $color;
    }
    .#{$type}:hover {
      background-color: lighten($color, 15%);
      color: $color-tint;
    }
  }
}

@mixin flex(
  $disp: flex,
  $dir: null
){
  display: $disp;
  flex-direction: $dir;
}



