// Colors

$color-primary: #58e1c1;
$color-secondary: #51ddfc;

$color-text: rgb(119, 119, 119);
$white: #fff;
$color-shade: #ccc;
$color-tint: #777;

// $color-default: #51ddfc;
// $color-success: #a6cc82;
// $color-error: #e4757a;
// $color-warning: #fd7856;
// $color-info: #927bc1;

$color-types: (
  'default':#51ddfc,
  'success':rgb(99, 204, 130),
  'error':#e4757a,
  'warning':#fd7856,
  'info':#927bc1
);




// Fonts
$font-stack: 'Lato', sans-serif;

// Layout

// Breakpoints

$breakpoint: 768px;